@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #000;
    position: relative;
    font-size: 16px;
}
a {
    transition: color 0.2s, border-bottom 0.2s;
}
a:not(.btn):not(.nav-link) {
    color: inherit;
    padding-bottom: 2px;
    text-decoration: none !important;
}
a:not(.btn):not(.nav-link):hover {
    
    border-bottom: 2px solid #48f1ab;
}
a.nav-link:hover {
    opacity: 0.8;
}
h1 {
    margin-bottom: 20px;
}
/* General customization */
.link-dark {
    color: #000;
}
.fw-bold {
    font-weight: 600 !important;
}

.btn {
    padding: 12px 35px !important;
    border-radius: 2px;
}

.btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #000;
    transition: all 0.2s ease-in;
}
.btn-primary:hover {
    color: #000;
    background-color: #48f1ab;
    border-color: #48f1ab;
}

/* Projects Section */
img.project-thumbnail {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
}

/* Home page */

.hero {
    background-color: rgba(63, 3, 230, 0.2);
    transition: background-color 2s ease-in;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 98;
}

.home header {
    margin-bottom: 0 !important;
    border-bottom: none !important;
    position: relative;
    z-index: 99;
}

.home main.container {
    margin-top: 500px;
    padding-top: 50px;
}
.home.loggedin main.container {
    margin-top: 0px;
}

.project-single > .project-information {
    margin-top: 20px;
}


/* Project Single */
.project-single {
    overflow: hidden;
}
.project-single .main-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
p.category {
    width: 126px;
    padding: 7px 17px;
    border-radius: 29px;
    background-color: #ffc2fd;
    text-align: center;
    font-size: 14px;
}
.page_title {
    position: relative;
}
.project-single .category {
    position: absolute;
    right: 0;
    top: 10px;
}

/* Form Styling */
label {
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 15px;

}
input.form-control,
textarea.form-control {
    border: none;
    background-color: #faf9f9;
    border-radius: 2px;
    padding: 10px;
}

/* footer */
footer {
    border-top: 1px solid #000;
    padding: 50px 0;
}