<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/home" class="nav-link px-2 link-dark fw-bold">Home</a></li>
          {% if  name != None %}
          <li><a href="/upload-project" class="nav-link px-2 link-dark fw-bold">Upload project</a></li>
          {% endif %}
        </ul>
        {% if  name != None %}
            <div class="d-flex text-end">
            <a href="#" class="d-block link-dark text-decoration-none" >
              {% if  avatar %}
                <img src="{{avatar}}" alt="avatar" width="32" height="32" class="rounded-circle">
              {% else %}
                <img src="https://res.cloudinary.com/dtdhdix1f/image/upload/v1631445744/feedback-app/avatar-icon-png-26_heaqy9.png" alt="avatar" width="32" height="32" class="rounded-circle">
              {% endif %}
            </a>
            <ul class="nav">
                <li><a class="dropdown-item" href="/signout">Sign out</a></li>
            </ul>
            </div>
        {% else %}
        <ul class="nav">
          <li><a class="nav-link px-2 link-dark fw-bold" href="/login">Log in</a></li>  
          <li><a href="/signup" class="nav-link px-2 link-dark fw-bold">Signup</a></li>
        </ul>
        {% endif %}
      </div>
    </div>
  </header>