{% extends "base.html" %} 
<!-- body class -->
{% block body_class %}home{% if  name != None %} loggedin{% endif %}{% endblock body_class %}
{% block content %}
<!-- Full width column -->
<!-- hero -->
{% if  name == None %}
<section class="hero wrapper d-flex align-items-center">
  <div class="container py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <h1 class="display-5 fw-bold lh-1 mb-3 text-center">Share your feedback and help other students around the world </h1>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <a href="/signup"type="button" class="btn btn-primary px-4 me-md-2">Signup</a>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>

</section>
{% endif %}
<!-- project section -->
<main class="container">
    <section class="home-project d-flex flex-wrap">
        {% for row in projects %}
          <div class="project-single col-lg-3 me-2 ">
            <img class="project-thumbnail" src="{{row['img_url']}}" />
            <div class="project-information">
              <p class="category">{{row['category']}}</p>
              <h4 class="project-title">
                  <a href="/project?project_id={{row['id']}}">
                      {{row['title']}}
                  </a>
              </h4>
          </div>
          </div>
        {% endfor %}
       </section>

</main>
{% endblock content %}