{% extends "base.html" %} 
{% block body_class %}project-page{% endblock body_class %}
{% block content %}
<!-- project section -->
<main class="container">
    <div class="row  justify-content-center ">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 project-single">
            
            {% if  current_user_id  == result[5]  %}
            <div class="project-update">
                <a href="/edit-project?id={{result[0]}}">Edit</a>
            </div>
            {% endif %}
            <div class="page_title mt-2 mb-2">
                <h1 class="text-center">{{result[1]}}</h1>
                <p class="category">{{result[4]}}</p>
            </div>
            <div class="author-information d-flex mt-3 mb-3">
                <h4 ><a class="mr-3">{{author[0]}}</a></h4>
                <img class="rounded-circle" width="32" height="32"src="{{author_avatar[0]}}">
            </div>
            <img class="main-img mb-5" src="{{result[2]}}">
            
            <p>{{result[3]}}</p>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
   
{{file}}
</main>

{% endblock content %}